.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 632px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 512px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3.75rem;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 122px 0 0 255px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 512px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 450px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 512px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 450px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 155px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-1 .u-image-1 {
    height: 350px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 422px;
  }

  .u-section-1 .u-image-2 {
    height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 45px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-1 .u-image-1 {
    height: 240px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 323px;
  }

  .u-section-1 .u-image-2 {
    height: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1930px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -312px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 682px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 648px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 728px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    height: 658px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1363px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 19px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 39px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-1 .u-image-1 {
    height: 399px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 458px;
  }

  .u-section-1 .u-image-2 {
    height: 405px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 659px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 559px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-2 .u-group-1 {
  min-height: 460px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 50px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.25rem;
  margin-left: auto;
  font-weight: 700;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 539px;
}

.u-section-2 .u-container-layout-3 {
  padding: 29px 23px;
}

.u-section-2 .u-group-2 {
  width: 106px;
  min-height: 106px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-3 {
  margin: -106px 0 0 134px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 138px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 82px 0 0 134px;
}

.u-section-2 .u-group-3 {
  width: 106px;
  min-height: 106px;
  margin: -50px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 10px auto 0 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: undefined;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 556px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 136px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 91px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 77px;
    margin-left: 136px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -90px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 670px;
  }

  .u-section-2 .u-group-1 {
    min-height: 360px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 670px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 149px;
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: -201px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 614px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 60px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 748px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 628px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 129px 30px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 70px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 628px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 100px;
}

.u-section-3 .u-image-1 {
  height: 568px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 6px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-3 .u-image-1 {
    height: 414px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 460px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 596px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 797px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-3 .u-image-1 {
    height: 490px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 443px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 60px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 656px;
  grid-gap: 10px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/pexels-photo-2659177.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 24px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/pexels-photo-709802.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 24px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/grayscale-photography-of-woman-wearing-coat-and-fedora-hat-2947337.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 24px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-image-4 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/pexels-photo-2120114.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 24px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 6px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-image-5 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/pexels-photo-952214.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 24px auto 0;
}

.u-section-4 .u-text-10 {
  margin: 6px auto 0;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-image-6 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/pexels-photo-8640124.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 24px auto 0;
}

.u-section-4 .u-text-12 {
  margin: 6px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 541px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 932px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 778px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 339px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 339px;
  background-image: url("images/pexels-photo-3062948.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 339px;
  background-image: url("images/pexels-photo-6171394.jpeg");
  background-position: 50.78% 71.26%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 678px;
  background-image: url("images/pexels-photo-5490234.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-5 .u-image-1 {
    min-height: 280px;
  }

  .u-section-5 .u-image-2 {
    min-height: 280px;
  }

  .u-section-5 .u-image-3 {
    min-height: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 357px;
  }

  .u-section-5 .u-image-2 {
    min-height: 357px;
  }

  .u-section-5 .u-image-3 {
    min-height: 1070px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1889px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -117px;
    margin-bottom: -117px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 536px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 268px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 803px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1299px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -175px;
    margin-bottom: -175px;
  }

  .u-section-5 .u-image-1 {
    min-height: 337px;
  }

  .u-section-5 .u-image-2 {
    min-height: 169px;
  }

  .u-section-5 .u-image-3 {
    min-height: 506px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 590px;
}

.u-section-6 .u-group-1 {
  width: 1000px;
  min-height: 405px;
  background-image: none;
  margin: 60px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.6;
  margin: 41px 0 0;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-text-2 {
  letter-spacing: 0px;
  font-weight: 700;
  width: 573px;
  margin: 41px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-6 .u-group-1 {
    min-height: 453px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin: 60px 0 -234px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 841px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 60px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 751px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 647px;
  margin: 40px auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 589px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-7 .u-group-1 {
  min-height: 178px;
  width: 303px;
  margin: 0;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.u-section-7 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-4 {
  font-size: 3.75rem;
  width: 145px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-text-5 {
  line-height: 3;
  margin: 30px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 589px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-7 .u-group-2 {
  min-height: 182px;
  width: 306px;
  margin: 0 -3px 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.u-section-7 .u-text-6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-7 .u-text-7 {
  font-size: 3.75rem;
  width: 157px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-text-8 {
  line-height: 3;
  margin: 30px 0 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  margin: 20px auto 0;
}

.u-section-7 .u-image-1 {
  width: 463px;
  height: 559px;
  margin: -559px auto 0 677px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1365px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-right: 551px;
    width: 541px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    min-height: 186px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-7 .u-group-2 {
    margin-right: -2px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
  }

  .u-section-7 .u-image-1 {
    margin-top: 32px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-2 {
    margin-right: 331px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 549px;
  }

  .u-section-7 .u-group-1 {
    min-height: 216px;
    width: 306px;
    margin-right: -2px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-7 .u-group-2 {
    min-height: 215px;
    width: 303px;
    margin-right: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 151px;
    width: 540px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-group-1 {
    width: 534px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-group-2 {
    width: 534px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    width: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-group-1 {
    min-height: 189px;
    width: 334px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 11px;
  }

  .u-section-7 .u-text-4 {
    font-size: 4.5rem;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 593px;
  }

  .u-section-7 .u-group-2 {
    min-height: 246px;
    width: 334px;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-top: 0;
  }

  .u-section-7 .u-text-7 {
    font-size: 4.5rem;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 410px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 695px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 59px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 616px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 397px;
  height: 516px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 651px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 59px 288px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 19px 62px 0 0;
}

.u-section-8 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 60px 0 0;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  line-height: 2;
  margin: 22px 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 537px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 191px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-8 .u-image-1 {
    width: 293px;
    height: 381px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 85px;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 488px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 307px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }
}